@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Press Start 2P';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.carta-inicio{
  border: 15px solid transparent;

  border-image-source: url(./icons/jack-pixelart.png);
  border-image-slice: 15px;
  border-image-repeat: repeat;
}
.c-contenido {
  background-color: #FFF;
  border: 4px solid #6A0409;
  padding: 20px;
  width: 300px;
  min-height: 165px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  box-shadow: 4px 4px 0 #8093F1;
  
}

body::before{
  content: "";
  position: fixed;
  inset: 0;

  background-image: url(./icons/flower-whiterose.png);
  background-repeat: repeat;
  image-rendering: pixelated;
  background-size: 100px 80px;
  background-position: 0.0;

  opacity: 0.5;
  z-index: -1;
}

h1 {
  color: #6A0409;
  font-size: 16px;
}

p{

  color: #080c38;
  font-size: 12px;
  margin: 10px 0;
}

input{

  font-family: 'Press Start 2P';
  font-size: 12px;
  width: 200px;
  border: 2px solid #080c38;
  color: #080c38;
  box-shadow: 4px 4px 0 #8093F1;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #8093F1; 
}

.c-boton {

  margin-top: 15px;
  font-family: 'Press Start 2P';
  padding: 5px 10px;
  border: 2px solid #B388EB;
  background-color: #9362d3;
  box-shadow: 4px 4px 0 #8093F1;
  color: #FFF;
  cursor: pointer;
  font-size: 10px;
}

.c-boton:hover {
  background-color: #8093F1;
  color: #0A122A;
}

.c-contenido .cinnamo{
  width: 100px;
}
.c-contenido .low-card{
  width: 100px;
  height: 150px;
}

.boton-card{
  width: 105px;
  font-family: 'Press Start 2P';
  font-size: 12px;
  color: #fff;
  background-color: #B388EB;
  box-shadow: 4px 4px 0 #8093F1;
  margin: 0px 5px;
}
.boton-card div{
  height: 24px;
}
.botones-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

/* Card mi preciosa*/
.mi-preciosa{
  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 15px solid transparent;
  border-image-source: url(./icons/jack-pixelart.png);
  border-image-slice: 15px;
  border-image-repeat: repeat;
}

.jack-bg{
  width: 100px;
}

.titulo-div{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6A0409;
  width: 300px;
  position: relative;
  top: -36px;
}

.titulo-carta{
  color: #FFF;
  font-size: 20px;
}

.titulo-div-2{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6A0409;
  width: 300px;
  position: relative;
  top: -36px;

}

.cinammo-card{
  width: 150px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #080c38;
}

.cinammo-card img{
  width: 50px;
}

.cinammo-card div{
  font-family: 'Press Start 2P';
  font-size: 12px;
  color: #080c38;
}

.fotos{
  width: 100%;
  height: 760px;
  display: grid;
  margin: 0px auto;
  grid-template-columns: 120px 120px;
  grid-template-rows: 150px 150px 150px 150px;
  padding: 50px 0px;

}

.polaroid_white{
  background-color: #0f0f0f;
  width: 140px;
  height: 190px;
  margin: auto;
  box-shadow:
    0 -4px 0 0 #6A0409,
    0 4px 0 0 #6A0409,
    -4px 0 0 0 #6A0409,
    4px 0 0 0 #6A0409;
  
  position: relative;
}
.polaroid_black{
  background-color: #6A0409;
  width: 100px;
  height: 150px;
  margin: 10px 20px 30px 20px;
}

.polaroid_black img{
  width: 96px;
  height: 146px;
  margin: 2px 2px;
  object-fit: cover;

}
.fotom_1{
  grid-column: 1/2;
  grid-row: 1/2;
  transform: rotate(25deg);
}

.fotom_2{
  grid-column: 2/3;
  grid-row: 2/3;
  transform: rotate(-30deg);
}

.fotom_3{
  grid-column: 1/2;
  grid-row: 3/4;
  transform: rotate(-10deg);
}

.fotom_4{
  grid-column: 2/3;
  grid-row: 4/5;
  transform: rotate(25deg);
}

.fotos-us{
  width: 100%;
  height: 190px;
  display: grid;
  margin: 0px auto 90px;
  grid-template-columns: 120px 120px;
  grid-template-rows: 190px;
  padding: 50px 0px;

}

.fotous_1{
  grid-column: 1/2;
  grid-row: 1/2;
  transform: rotate(-25deg);
}

.fotous_2{
  grid-column: 2/3;
  grid-row: 1/2;
  transform: rotate(30deg);
}

.lovers{
  width: 100px;
}

.nosotros{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid transparent;
    border-image-source: url(./icons/jack-pixelart.png);
    border-image-slice: 15px;
    border-image-repeat: repeat;
}